
<div class="blog-container">
    <div class="blog-card">
        <span class="b-card-user">Data & Society: PointsRobyn Caplanin Data & Society: Points</span>
        <h3 class="b-card-title">The TikTok Teens Go To Washington</h3>
        <p class="b-card-body">TikTok videos underscore the gap in expertise between those who seek to regulate technology and those who use it.</p>
        <span class="b-card-footer">Mar 32 - 7 min read</span>
    </div>
    <div class="blog-card">
        <span class="b-card-user">Data & Society: PointsRobyn Caplanin Data & Society: Points</span>
        <h3 class="b-card-title">The TikTok Teens Go To Washington</h3>
        <p class="b-card-body">TikTok videos underscore the gap in expertise between those who seek to regulate technology and those who use it.</p>
        <span class="b-card-footer">Mar 32 - 7 min read</span>
    </div>
    <div class="blog-card">
        <span class="b-card-user">Data & Society: PointsRobyn Caplanin Data & Society: Points</span>
        <h3 class="b-card-title">The TikTok Teens Go To Washington</h3>
        <p class="b-card-body">TikTok videos underscore the gap in expertise between those who seek to regulate technology and those who use it.</p>
        <span class="b-card-footer">Mar 32 - 7 min read</span>
    </div>
    <div class="blog-card">
        <span class="b-card-user">Data & Society: PointsRobyn Caplanin Data & Society: Points</span>
        <h3 class="b-card-title">The TikTok Teens Go To Washington</h3>
        <p class="b-card-body">TikTok videos underscore the gap in expertise between those who seek to regulate technology and those who use it.</p>
        <span class="b-card-footer">Mar 32 - 7 min read</span>
    </div>
</div>