
<div class="blog-container">
    {% for blog in blogs%}
    <div class="blog-card">
        <span class="b-card-user">By {{ blog.author.username }}</span>
        <h3 class="b-card-title">{{ blog.title }}</h3>
        <p class="b-card-body">{{ blog.content|slice:":200"}}</p>
        <div class="b-card-footer">
            <span>{{blog.created_on|timesince}}</span>
            <a class="btn btn-dark" href="{% url 'post_detail' blog.slug %}">Read more</a>
        </div>
    </div>
    {% endfor %}
</div>