{% extends 'main.html' %}

{% block content %}
<div>
    <div class="banner">
        <div class="banner-container container">
            <h2>
                Stay curious
            </h2>
            <p>
                Discover stories, thinking, and expertise <br/> from writers on any topic.
            </p>
            <a>
                Start reading
            </a>
        </div>
    </div>
   <div class="container h-grid">
    {% include 'blog/blog.html'%}
    <section id="about" class="about">
        <h3 class="about-title">About us</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum totam quae commodi distinctio natus expedita sit illum eligendi. Veniam error architecto inventore? Repellat tempora dolore modi asperiores, magni numquam quidem.</p>
    </section>
   </div>
</div>
   
{% endblock %}