{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'styles/main.css' %}">
<div class="form-container">
{% if page == 'login' %}
<div class="f-container">
    <h3 class="form-title">Sign up</h3>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="f-control">
            <label for="">Username</label>
            <input type="text" name="username" placeholder="Enter Username">
        </div>
        <div class="f-control">
            <label for="">Password</label>
            <input type="password" name="password" placeholder="Enter Password">
        </div>
        <input class="b-submit" type="submit" value="Login">
    </form>
    <p>Haven't signed up yet?</p>
    <a href="{% url 'register'%}">Sign in</a>
</div>
{% else %}
<div class="f-container">
    <h3 class="form-title">Sign in</h3>
    <form method="POST" action="">
        {% csrf_token %}
        {% bootstrap_form form%}
        <input type="submit" value="Sign In">
    </form>
    <p>Have already sign up?</p>
    <a href="{% url 'login' %}">Sign Up</a>
</div>
{% endif %}
</div>