<header>
    <div class="header container">
         <div class="logo">
            <a href="{% url 'home'%}">DistBlog.</a>
        </div>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <nav class="nav-bar">
            <ul>
                <li><a class="nav-bar-link" href="{% url 'home'%}">Home</a></li>
                <li><a class="nav-bar-link" href="">About Us</a></li>
                <li><a class="nav-bar-link" href="">Write</a></li>
                <li class="nav-button"><a href="">Sign In</a></li>
            </ul>
        </nav>
    </div>
</header>